.home-image {
  display: flex;
  height: 88vh;
  flex-direction: row;
  column-gap: 2vw;
}
.home-image * {
  width: 50%;
}
.image2 {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.image2 img {
  height: 43vh;
  width: 48vw;
}
.image1 img {
  height: 88vh;
  width: 100%;
}
/* top-section */
.post-section {
  display: flex;
  flex-direction: row;
  column-gap: 4vw;
  justify-content: space-evenly;
}
.home-item {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
/* middle-section */
.middle-section > h3 {
  padding: 5vh;
}
.article-section2 {
  display: flex;
  column-gap: 1vw;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.article-content {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.article-item {
  width: 60vw;
  padding-bottom: 2vh;
  display: flex;
  column-gap: 2vh;
  justify-content: space-evenly;
}
.article-block {
  width: 25vw;
  display: flex;
  flex-direction: column;
}
.article-item img {
  height: 40vh;
  width: 25vw;
}
.advertisement img {
  width: 50vw;
  height: 120vh;
}

/*  */
.article-item2 img {
  height: 20vh;
  width: 20vw;
}
.article-item {
  width: 40vw;
}
.article-section3 {
  justify-content: space-evenly;
}
.article-content-2 {
  justify-content: space-evenly;
}

/* mobile view */
@media screen and (min-width: 300px) and (max-width: 400px) {
  .home-container {
    margin-bottom: 5vh;
  }
  .home-image {
    height: 100%;
    width: 100vw;
    flex-direction: column;
  }
  .image1 img,
  .image2 img {
    width: 100vw;
  }
  .advertisement img {
    width: 10vw;
  }
  .post-section {
    flex-direction: column;
    align-items: center;
  }
  .home-item {
    width: 80%;
  }
  .article-section2 {
    flex-direction: column-reverse;
  }
  /* middle-section */
  .article-item {
    width: 80vw;
  }
  .article-item img {
    width: 60vw;
  }
  .article-block {
    width: 60vw;
  }
  /* advertisement bar */
  .advertisement img {
    width: 100vw;
  }
  .advertisement2 img {
    width: 100vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .home-image {
    width: 100vw;
  }
  .advertisement img {
    width: 10vw;
  }
  .post-section {
    flex-direction: column;
    align-items: center;
  }
  .home-item {
    width: 80%;
  }
  .article-section2 {
    flex-direction: column;
  }
  /* middle-section */
  .article-item {
    width: 80vw;
  }
  .article-item img {
    width: 60vw;
  }
  .article-block {
    width: 60vw;
  }
  /* advertisement bar */
  .advertisement img {
    width: 100vw;
  }
  .advertisement2 img {
    width: 100vw;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .home-image {
    width: 100vw;
  }
  .advertisement img {
    width: 10vw;
  }
  .post-section {
    flex-direction: column;
  }
  .home-item {
    width: 50%;
  }
  .article-section2 {
    flex-direction: column;
  }
  /* middle-section */
  .article-item {
    width: 80vw;
  }
  .article-block {
    width: 60vw;
  }
  /* advertisement bar */
  .advertisement img {
    width: 100vw;
  }
  .advertisement2 img {
    width: 100vw;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .home-image {
    width: 100vw;
  }
  .advertisement img {
    width: 10vw;
  }

  /* .home-item {
    width: 50%;
  } */
  .article-section2 {
    flex-direction: column;
  }
  /* middle-section */
  .article-item {
    width: 80vw;
  }
  .article-block {
    width: 60vw;
  }
  /* advertisement bar */
  .advertisement img {
    width: 100vw;
  }
  .advertisement2 img {
    width: 100vw;
  }
}
